*{
    margin: 0;
    font-family: 'Lato', sans-serif;
    
}
ul{
    list-style-type: none;
    position: relative;
    right:23px;
}
ul li{
    margin:53px 0;
    padding-bottom: 5px;
}
div.top{
    background-color: rgb(80, 78, 78);
    height: 330px;
}
img.top{
    margin:30px 0 30px 100px
}
h2.top {
    text-align: left;
    margin-top: -283px;
    margin-left: 424px;
    color: white;
    font-weight: lighter;
}
.text{
    margin-left:424px;
    color: white;
    padding-top: 10px;
    font-size: 12px;
}
.topicons{
    position: relative;
    bottom: -164px;
    margin-left: -28px;
}

.topicons i{
    padding-left: 30px;
  
}


nav{
    height:100%;
    width: 50px;
    background-color:rgb(225, 224, 224);
    z-index: 1;
    position: fixed;
}
.songs{
    margin-top: 20px;
    margin-left: 90px;
    border-collapse:collapse;
    width: 100%;

}
 .songs td{
    padding-bottom: 10px;
    padding-top:10px;
    padding-right: 100px;
  
   
}

.songs tr:nth-child(even){
    background-color:rgb(225, 224, 224);
}
a{
    border:1px solid black;
}
 a:link{
    text-decoration: none;
 }
 div.footer{
    position:fixed;
    z-index:2;
    bottom:0;
    background-color: rgb(77, 77, 171);
    width: 100%;

 }
 img.footer{
    height: 80px;
    width: 80px;
    margin:8px;
    display: inline;
    
 }
#textone{
    display: inline-block;
    position: relative;
    top: -70px;
    color:white;

}
#texttwo{
    display: inline-block;
    position: relative;
    top: -45px;
    margin-left: -92px;
    color:white;
}
.bottom_icons{
    position: relative;
    display: inline-block;
    right: -452px;
    top: -46px;

}
.bottom_icons i{
    padding-left: 138px;
    color:white;
}
